
:root{
  font-size: 62.5%;  /* 1rem = 10px */

  --hue: 210;
  --primary-color: hsla(var(--hue), 100%, 26%, 1);
  --headline: hsla(210, 11%, 15%, 1);
  --paragraph: hsla(210, 9%, 31%, 1);

  --brand-beige: hsla(39, 100%, 97%, 1);
  --brand-light: hsla(calc(var(--hue) - 22), 23%, 89%, 1);
  --brand-light-2: hsla(calc(var(--hue) + 10), 14%, 97%, 1);

  --brand-dark-hover: hsla(var(--hue), 100%, 14%, 1);

  --nav-height: 7.2rem;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  /* text-align: center; */

  overflow: overlay;

  background-color: var(--brand-light-2);
}

.container {
  /* width: min(50rem, 100%); mobile*/
  margin-inline: auto;
  padding-inline: 2.4rem;
  max-width: 128rem;
  margin: 0 auto;
}

header {
  background-color: var(--primary-color);
  transition: 1000ms;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 2.4rem;
}

.header ul {
  display: flex;
  gap: 1.8rem;
}

.header a {
  color: #FFFAF1;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.5rem;
}

.home-menu a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #FFFFFF;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.home-menu a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.home-menu a:hover {
  filter: brightness(2.3);
  font-size: 1.6rem;
  transition: 400ms;
}

img {
  max-width: 100%;
}

/* HOME */

.home-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 2.4rem;
  transition: 1000ms;
}

.home-text {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.home-text h4 {
  font-size: 1.4rem;
  font-weight: 300;
  text-transform: uppercase;
  color: var(--paragraph);
}

.home-text h1 {
  font-size: 7.5rem;
  font-weight: 900;
  color: var(--headline);
}

.home-text p {
  font-size: 3.3rem;
  font-weight: 400;
  line-height: 4rem;

  color: var(--paragraph);
}

/* ABOUT */

#about {
  background: var(--brand-beige);
}

.about-text {
  display: flex;
  flex-direction: column;
  gap: 8rem;
  padding: 16rem 0;
}

.about-text h2 {
  font-size: 2.3rem;
  font-weight: 400;
  line-height: 4rem;
  padding: 0 2.4rem;

  text-align: justify;
  
  color: var(--headline);
}

.about-text q {
  font-size: 2rem;
  font-weight: 300;
  font-style: italic;

  text-align: center;
}

/* PROJECTS */

#projects {
  background: var(--primary-color);
  padding: 5.2rem 2.4rem;
  color: #FFFAF1;
}

.projects-container {
  padding: 0 2.4rem;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

#projects header {
  font-size: 2.8rem;
  font-weight: 500;
  margin-bottom: 5rem;
  text-transform: uppercase;
}

.project-list {
  display: grid;
  grid-template-areas: 
  'col-a col-a'
  'col-b col-b';
  gap: 4rem;
}

.project-card {
  background: var(--brand-light-2);
  border-radius: 5.15rem;
  display: flex;
  flex-direction: column;
}

.project-card img {
  max-width: 100%;
  height: 80rem;
}

.project-card-text {
  color: var(--headline);
  padding: 3rem 5rem;
  text-align: justify;
}

.project-card-text h3 {
  font-weight: 700;
  font-size: 2.3rem;
  line-height: 4rem;
}

.project-card-text p {
  font-size: 1.8rem;
  line-height: 3.5rem;
  text-align: justify;
}

/* CONTACT */

.contact-container {
  padding: 12rem 2.4rem;
  transition: 1000ms;
}

.contact-container-text {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.contact-container-text h2 {
  font-size: 4.5rem;
  line-height: 1rem;
  font-weight: 900;
}

.contact-container-text p {
  font-size: 3rem;
  font-weight: 500;
}

.contact-container-text .social-links {
  display: flex;
  gap: 10rem;
}

.contact-container-text .social-links li:first-child path, .contact-container-text .social-links li:nth-child(2) path {
  stroke: grey;
}

.contact-container-text .social-links li:nth-child(3) path, .contact-container-text .social-links li:nth-child(4) path {
  fill: grey;
  stroke: grey;
}

.contact-container-text .social-links li:last-child path {
  fill: grey;
}

.contact-container-text .social-links li:first-child:hover path {
  stroke: purple;
}

.contact-container-text .social-links li:nth-child(2):hover path {
  stroke: blue;
}

.contact-container-text .social-links li:nth-child(3):hover path {
  fill: blue;
  stroke: blue;
}

.contact-container-text .social-links li:nth-child(4):hover path {
  fill: black;
  stroke: black;
}

.contact-container-text .social-links li:last-child:hover path {
  fill: green;
}


@media (max-width: 720px) {

  /* .container {
    max-width: 100%;
  } */

  .header a {
    font-size: 1rem;
  }

  .header {
    gap: 1.5rem;
  }

  .home-container {
    display: flex;
    flex-direction: column;
  }

  .project-list {
    display: flex;
    flex-direction: column;
  }

  .project-card img {
    width: 60rem;
    height: 50rem;
  }
  
  .project-card-text {
    color: var(--headline);
    padding: 2rem 4rem;
    text-align: justify;
  }
  
  .project-card-text h3 {
    font-weight: 700;
    font-size: 2rem;
    line-height: 3rem;
  }
  
  .project-card-text p {
    line-height: 2.8rem;
    text-align: justify;
  }

}